body {
    overflow: hidden;
    color: #2d313f;
    font-size: 14px;
}

.wrapper {
    padding-top: 20px;
}

.wrapper:after {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(../img/background.png);
}

.navbar {
    z-index: 1;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #ccc;
}

#game-container {
    width: 1036px;
    height: 512px;
    margin: 0 auto;
    z-index: 1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    position: relative;
    display: block;
    background: #F8F8F8;
    box-shadow: #ccc 2px 2px;

}

#points {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 150px;
    height: 100px;
    margin-left: -75px;
    background: transparent;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 1px 8px #000;
}

#message {
    position: absolute;
    top: 250px;
    left: 50%;
    width: 600px;
    height: 100px;
    margin-left: -300px;
    background: transparent;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 1px 8px #000;
}

h2 {
    text-align: center;
    z-index: 100;
}

footer{
    text-align: center;
    padding: 5px 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
